<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!-- Dossier de surveillance des fichiers PDF (La recherche inclus n'inclut pas les sous-répertoires) -->
    <add key="hotfolder" value="C:\input" />
    <add key="exportfolder" value="C:\output" />
  </appSettings>
</configuration>
